@page "/facturas/editar/{Id:int}"
@inject NavigationManager Navigation


<h3>Editar Factura</h3>

<FacturaEditForm Id="@Id" OnValidSubmit="OnSubmit" />

@code {

    [Parameter]
    public int Id { get; set; }



    void OnSubmit()
    {


        Navigation.NavigateTo("/");
    }

}
